@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;
}

[role=button],
button {
  cursor: pointer;
}

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

ul {
  list-style-type: none;
}